# Ignore .vscode directory
.vscode/

# Ignore a.out file (executable on Unix-like systems)
a.out

# Ignore gch files (precompiled header files)
*.gch

# Ignore a.out.dSYM directory (debug symbols for a.out)
a.out.dSYM/
